<h1>today is the Liberation Day!</h1>


<p>Viva!</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Site</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
    <tr>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.site.top_level_url %></td>
    </tr>
    <% end %> 
  </tbody>
</table>
